* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #CCA5A5;
}

section {
    border-radius: 20px;
    background: #FFF;
    width: 360px;
    margin: 50px auto;
    padding-left: 10px;
}

h1 {
    margin: 5px;
    margin-left: 22px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

button {
    display: inline-blocks;
    /*margin: 56, 302, 714, 28;*/
    margin-top: 56px;
    margin-left: 28px;
    flex-shrink: 0;
    background-color: #FFF;
    cursor: pointer;
    border: 0;
}

input {

    width: 316px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EFEFEF;

    color: #999;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 24px;
    border: 0;
    padding-left: 20px;
}

h3 {

    margin-left: 24px;
}

.menu-items-block {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.menu-item {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #EFEFEF;
    position: relative;
    margin-left: 24px;
    margin-top: 29px;
    display: inline-block;
    margin-bottom: 27px;


}

.menu-item:hover {
    background-color: #EAE2B7;
}

.type {


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;

}


.menu-item h5 {
    text-align: center;
    padding-top: 66px;
}


.h5 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: visible;


}

.menu-proposition {
    width: 316px;
    height: 86;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #E5E5E5;

    margin: 0px 20px 12px 24px;
    position: relative;

}

.propostion-description {
    text-align: center;
    width: 150px;
    display: inline-block;
}



.proposition-img {

    display: inline-block;
    width: 70px;
    max-width: 7px 0px 9px 16px;

}

.one {
    margin: 7px 0px 9px 16px;
}

.two {
    margin: 10px 0px 4px 16px;
}

.three {
    margin: 17px 8px 0px 8px;
}

.propostion-description,
h4,
p {
    margin: 7px, 2px;
}

.menu-proposition h4 {
    color: #003049;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;



}

.menu-proposition p {
    color: #D62828;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}