* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

header {
    width: 1440px;
    background: #FFF;
    padding: 66px 0 56px;
 
}
.lg{
display: inline-block;
margin-left: 7px;
}
.mes1{
    float: right;
    padding: 7px 10px;
}
.fb{
    margin-right: 17px;
}


/*////////////////////////////////////////////*/
.one {
    width: 1440px;
    /* width: 1440px;
    height: 421px;*/
    background: #FAC960;

}

.ContOne {
    color: #8A6D2F;
    text-align: center;
    font-size: 34px;
    line-height: 54px;
    margin-bottom: 40px;


}

.content1 {
    padding: 101px 76px 116px;
}

.input {
    display: inline-block;
    color: #999;
    font-size: 30px;
    border: none;

    line-height: 54px;
    margin-bottom: 9.8px;
    width: 560px;
    border-radius: 2px 0px 0px 2px;

    margin-right: 3px;
    padding-left: 36px;
}

.buttonOne {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    line-height: 54px;
    border: none;
    width: 240px;
    border-radius: 0px 2px 2px 0px;
    background: #A8863D;
    cursor: pointer;
}

.buttonOne:hover{
    background-color: aqua;
}

/*////////////////////////////////////////////*/
.two {
    width: 1440px;
    height: auto;
    background: #F2F2F2;
}

.ContTwo {

    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 36px;

}

.content2 {
    padding: 101px 10px 116px;
}

.Inf {
    padding-top: 56px;
    margin-bottom: -22px;
}

/*////////////////////////////////////////////*/


.three {
    width: 1440px;
    background: #FFF;
}

.ContThree {

    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 36px;

}

.content3 {
    padding: 101px 10px 116px;
}

.Phone {
    padding-bottom: 22px;
    margin-bottom: -61px;
}

/*////////////////////////////////////////////*/
.four {
    width: 1440px;
    background: #FAC960;
}

.ContFour {

    color: #8A6D2F;
    text-align: center;
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 36px;

}

.content4 {
    padding: 53px 10px 116px;
}

.buttonTwo {
    width: 14px;
    color: #999;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;

    cursor: pointer;
    width: 61px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #758696;
    background: #FFF;
}
.buttonTwo:hover{
    background-color:aquamarine;
}
/*////////////////////////////////////////////*/
.five {
    width: 1440px;
    background: #F2F2F2;
}
.content5{
    padding: 81px 10px 116px;
    text-align: center;
}
.messenger{
    text-align: center;
    margin-top: 24px;
}
.mes2{
    display: inline block;
    text-align: center;
    margin-right: 22px;
    
}