* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-image: url('../img/Rectangle.png');
    background-color: black;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    min-height: 1117px;
    min-width: 1728px;
    line-height: normal;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.LogoFriday {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-left: 80px;
}

.friday {
    padding-left: 10px;
}

.Data {
    color: #C8C8C8;
    font-family: Kyiv*Type Titling;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
    border-left: 2px solid white;

}

.LogoNetflix {
    width: 156px;
    height: 48.326px;
    flex-shrink: 0;
}

.SandP {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;

}

.Search {
    padding-right: 20px;
}

.Profile {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 74px;
}


.Type {
    margin-top: 70px;
    width: 564px;
    height: 112px;
    flex-shrink: 0;
 
}

.TypeFilm {
    display: flex;
}

.D {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding-right: 10px;
    align-items: center;

    padding-left: 80px;
}

.T {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid white;
    display: flex;
}

.S {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid white;
    display: flex;
}

.Str {

    width: 1000px;
    height: 100px;
    flex-shrink: 0;

    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.52px;
    padding-left: 80px;
    margin-top: -84px;

}

.Main {
    padding-left: 80px;
    width: 950px;
    height: 47px;
    flex-shrink: 0;
    margin-top: 17px;
}

.Dir {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text1 {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-right: 3px solid white;
    padding-right: 20px;
}

.text2 {
    color: #A7A6A6;
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 20px;
}

.text3 {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-left: 3px solid white;
    padding-left: 20px;
}

span {
    padding-left: 20px;
    padding-right: 7px;
}

.Info {
    width: 864px;
    height: 130px;
    flex-shrink: 0;

    color: #A7A6A6;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.523%;
    /* 33.965px */
}

.Stars {
    margin-top: -20px;
}

.StarYellow {
    color: yellow;
    padding-right: 14px;
}

.StarTransparent {
    color: white;
    padding-right: 14px;
}



.Buttons {
    /*position: relative;
    display: flex;*/
    margin-top: 55px;


}

.Stream {

    width: 271px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D40D1F;

    margin-right: 55px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%;
    /* 31.135px */
}



.AllEpisodes {
    width: 271px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: transparent;


    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%;
    /* 31.135px */
}

.Recomend {
    width: 400px;
    height: 26px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    margin-top: 54px;
}

.Films {
    display: flex;
    margin-top: 32px;

}

.typefilm {
    padding-right: 40px;
}

.Warning {
    display: flex;
    justify-content:end;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    padding: 963px 0 103px 1554px;
   

}

.BlockRed {
    width: 13%;
    height: 66px;
    flex-shrink: 0;
    background: #D40D1F;
    display: flex;
    justify-content: flex-end;

}

.BlockGray {
    width: 87%;
    height: 66px;
    flex-shrink: 0;
    background: grey;
    display: flex;
    align-items: center;
    text-align: center;
}

.Age {
    width: 82px;
    height: 37px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.523%;
    /* 33.965px */
}